<div id="searchCard" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <button
                    mat-icon-button
                    class="mr-0 mr-sm-16"
                    [routerLink]="'/Card/CardDefinition/cardDefinitions'"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <mat-icon
                    class="logo-icon s-32 mr-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    shopping_basket
                </mat-icon>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    {{ "CARD.CARDDEFINITION" | translate }}
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div
                    class="search"
                    fxFlex
                    fxLayout="row"
                    fxLayoutAlign="start center"
                >
                    <mat-icon>search</mat-icon>
                    <input
                        #filter
                        placeholder="{{ 'CARD.SEARCHTEXT' | translate }}"
                    />
                </div>
            </div>
            <!-- / SEARCH -->
            <!-- ADD BUTTON -->
            <button
                mat-raised-button
                color="basic"
                class="add-searchCard-button fuse-white m-20"
                [routerLink]="'/Card/CardDefinition/createCard'"
            >
                {{ "CARD.CREATE" | translate }}
            </button>
            <!-- ADD BUTTON -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="searchCards-table"
                #table
                matSort
                [@animateStagger]="{ value: '50' }"
                [dataSource]="searchCardDataSource"
            >
                <!-- Id Column -->
                <ng-container matColumnDef="Id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "CARD.ID" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let searchCard">
                        <p class="text-truncate">{{ searchCard.Id }}</p>
                    </mat-cell>
                </ng-container>
                <!-- CardBrand Column -->
                <ng-container matColumnDef="CardBrand">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "CARD.CARDBRAND" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let searchCard">
                        <p class="text-truncate">{{ searchCard.CardBrand }}</p>
                    </mat-cell>
                </ng-container>
                <!-- CardTokenNumber Column -->
                <ng-container matColumnDef="CardTokenNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "CARD.CARDTOKENNUMBER" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let searchCard">
                        <p class="text-truncate">
                            {{ searchCard.CardTokenNumber }}
                        </p>
                    </mat-cell>
                </ng-container>
                <!-- CardHolderName Column -->
                <ng-container matColumnDef="CardHolderName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "CARD.CARDHOLDERNAME" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let searchCard">
                        <p class="text-truncate">
                            {{ searchCard.CardHolderName }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- ProductName Column -->
                <ng-container matColumnDef="ProductName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "CARD.PRODUCTNAME" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let searchCard">
                        <p class="text-truncate">
                            {{ searchCard.ProductName }}
                        </p>
                    </mat-cell>
                </ng-container>
                <!-- CardStatus Column -->
                <ng-container matColumnDef="CardStatus">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "CARD.CARDSTATUS" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let searchCard">
                        <p class="text-truncate">
                            {{ searchCard.CardStatus }}
                        </p>
                    </mat-cell>
                </ng-container>
                <!-- FullCellPhoneNumber Column -->
                <ng-container matColumnDef="FullCellPhoneNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "CARD.FULLCELLPHONENUMBER" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let searchCard">
                        <p class="text-truncate">
                            {{ searchCard.FullCellPhoneNumber }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="Email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "CARD.EMAIL" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let searchCard">
                        <p class="text-truncate">
                            {{ searchCard.Email }}
                        </p>
                    </mat-cell>
                </ng-container>
                <!--Buttons Column  -->
                <ng-container matColumnDef="Buttons">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let searchCard">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="moreMenu"
                                aria-label="More"
                                (click)="$event.stopPropagation()"
                            >
                                <mat-icon class="secondary-text"
                                    >more_vert</mat-icon
                                >
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item aria-label="update">
                                    <mat-icon>update</mat-icon>
                                    <span
                                        >{{ "CARD.UPDATE" | translate }}
                                    </span>
                                </button>
                                <button mat-menu-item aria-label="update">
                                    <mat-icon>update</mat-icon>
                                    <span
                                        >{{ "CARD.CVV2RETRYCOUNT" | translate }}
                                    </span>
                                </button>
                                <button mat-menu-item aria-label="update">
                                    <mat-icon>update</mat-icon>
                                    <span
                                        >{{ "CARD.ACTIVATECARD" | translate }}
                                    </span>
                                </button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                    fusePerfectScrollbar
                ></mat-header-row>

                <mat-row
                    *matRowDef="let searchCard; columns: displayedColumns"
                    class="searchCard"
                    [routerLink]="['/searchCard', searchCard.Id]"
                >
                </mat-row>
            </mat-table>

            <mat-paginator
                #paginator
                [length]="searchCardDataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
            >
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
