<div id="applicationlog" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <mat-icon
                    class="logo-icon s-32 mr-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    shopping_basket
                </mat-icon>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    {{ "APPLICATIONLOG.APPLICATIONLOG" | translate }}
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div
                    class="search"
                    fxFlex
                    fxLayout="row"
                    fxLayoutAlign="start center"
                >
                    <mat-icon>search</mat-icon>
                    <input
                        #filter
                        placeholder="{{
                            'APPLICATIONLOG.SEARCHTEXT' | translate
                        }}"
                    />
                </div>
            </div>
            <!-- / SEARCH -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="applicationlogs-table"
                #table
                matSort
                [@animateStagger]="{ value: '50' }"
                [dataSource]="applicationLogDataSource"
            >
                <!-- ID Column -->
                <ng-container matColumnDef="Id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "APPLICATIONLOG.ID" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let applicationlog">
                        <p class="text-truncate">{{ applicationlog.Id }}</p>
                    </mat-cell>
                </ng-container>

                <!-- ApplicationId Column -->
                <ng-container matColumnDef="ApplicationId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "APPLICATIONLOG.APPLICATIONID" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let applicationlog">
                        <p class="text-truncate">
                            {{ applicationlog.ApplicationId }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- IsRunning Column -->
                <ng-container matColumnDef="IsRunning">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "APPLICATIONLOG.ISRUNNING" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let applicationlog">
                        <mat-icon
                            *ngIf="applicationlog.IsRunning"
                            class="active-icon green-600 s-16"
                            >check</mat-icon
                        >
                        <mat-icon
                            *ngIf="!applicationlog.IsRunning"
                            class="active-icon red-500 s-16"
                            >close</mat-icon
                        >
                    </mat-cell>
                </ng-container>

                <!-- ServiceName Column -->
                <ng-container matColumnDef="ServiceName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "APPLICATIONLOG.SERVICENAME" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let applicationlog">
                        <p class="text-truncate">
                            {{ applicationlog.ServiceName }}
                        </p>
                    </mat-cell>
                </ng-container>
                <!-- ServerName Column -->
                <ng-container matColumnDef="ServerName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "APPLICATIONLOG.SERVERNAME" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let applicationlog">
                        <p class="text-truncate">
                            {{ applicationlog.ServerName }}
                        </p>
                    </mat-cell>
                </ng-container>
                <!-- ApplicationType Column -->
                <ng-container matColumnDef="ApplicationType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "APPLICATIONLOG.APPLICATIONTYPE" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let applicationlog">
                        <p class="text-truncate">
                            {{ applicationlog.ApplicationType }}
                        </p>
                    </mat-cell>
                </ng-container>
                <!-- StartDateTime Column -->
                <ng-container matColumnDef="StartDateTime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "APPLICATIONLOG.STARTDATETIME" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let applicationlog">
                        <p class="text-truncate">
                            {{ applicationlog.StartDateTime }}
                        </p>
                    </mat-cell>
                </ng-container>
                <!-- EndDateTime Column -->
                <ng-container matColumnDef="EndDateTime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "APPLICATIONLOG.ENDDATETIME" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let applicationlog">
                        <p class="text-truncate">
                            {{ applicationlog.EndDateTime }}
                        </p>
                    </mat-cell>
                </ng-container>
                <!-- InsertDateTime Column -->
                <ng-container matColumnDef="InsertDateTime">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-xs
                        >{{
                            "APPLICATIONLOG.INSERTDATETIME" | translate
                        }}</mat-header-cell
                    >
                    <mat-cell
                        *matCellDef="let applicationlog"
                        fxHide
                        fxShow.gt-sm
                    >
                        <span class="text-truncate"
                            >{{
                                applicationlog.InsertDateTime
                                    | date : "dd/MM/YYYY HH:mm:ss "
                            }}
                        </span>
                    </mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                    fusePerfectScrollbar
                ></mat-header-row>

                <mat-row
                    *matRowDef="let applicationlog; columns: displayedColumns"
                    class="applicationLog"
                    [routerLink]="['/applicationLog', applicationlog.Id]"
                >
                </mat-row>
            </mat-table>

            <mat-paginator
                #paginator
                [length]="applicationLogDataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
            >
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
