<div id="switchCardNetworks" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <mat-icon
                    class="logo-icon s-32 mr-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    shopping_basket
                </mat-icon>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    {{ "SWITCHMESSAGE.SWITCHCARDNETWORK" | translate }}
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div
                    class="search"
                    fxFlex
                    fxLayout="row"
                    fxLayoutAlign="start center"
                >
                    <mat-icon>search</mat-icon>
                    <input
                        #filter
                        placeholder="{{
                            'SWITCHMESSAGE.SEARCHTEXT' | translate
                        }}"
                    />
                </div>
            </div>
            <!-- / SEARCH -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="switchCardNetworks-table"
                #table
                matSort
                [@animateStagger]="{ value: '50' }"
                [dataSource]="switchCardNetworksDataSource"
            >
                <!-- ID Column -->
                <ng-container matColumnDef="Id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "SWITCHMESSAGE.ID" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let switchMessageProfile">
                        <p class="text-truncate">
                            {{ switchMessageProfile.Id }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- NetworkType Column -->
                <ng-container matColumnDef="NetworkType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "SWITCHMESSAGE.NETWORKTYPE" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let switchMessageProfile">
                        <p class="text-truncate">
                            {{ switchMessageProfile.NetworkType }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="Description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "SWITCHMESSAGE.DESCRIPTION" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let switchMessageProfile">
                        <p class="text-truncate">
                            {{ switchMessageProfile.Description }}
                        </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                    fusePerfectScrollbar
                ></mat-header-row>

                <mat-row
                    *matRowDef="
                        let switchMessageProfile;
                        columns: displayedColumns
                    "
                    class="switchMessageProfile"
                    [routerLink]="[
                        '/switchCardNetworks',
                        switchMessageProfile.Id
                    ]"
                >
                </mat-row>
            </mat-table>

            <mat-paginator
                #paginator
                [length]="switchCardNetworksDataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
            >
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
