<div
    id="tenantCurrencyProfiles"
    class="page-layout carded fullwidth inner-scroll"
>
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <button
                    mat-icon-button
                    class="mr-0 mr-sm-16"
                    [routerLink]="
                        '/Tenant/TenantCurrencyProfile/tenantCurrencyProfiles'
                    "
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <mat-icon
                    class="logo-icon s-32 mr-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    shopping_basket
                </mat-icon>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    {{ "TENANTCURRENCY.TENANTCURRENCYPROFILES" | translate }}
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div
                    class="search"
                    fxFlex
                    fxLayout="row"
                    fxLayoutAlign="start center"
                >
                    <mat-icon>search</mat-icon>
                    <input
                        #filter
                        placeholder="{{
                            'TENANTCURRENCY.SEARCHTEXT' | translate
                        }}"
                    />
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button
                mat-raised-button
                (click)="newTenantCurrency()"
                class="add-tenantCurrency-button fuse-white mt-24 mt-md-0"
            >
                <span>{{ "TENANTCURRENCY.ADD" | translate }}</span>
            </button>
            <!-- / ADD BUTTON -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="tenantCurrencyProfiles-table"
                #table
                matSort
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
                [dataSource]="tenantCurrencyProfilesDataSource"
            >
                <!-- ID Column -->
                <ng-container matColumnDef="Id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "TENANTCURRENCY.ID" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let tenantCurrency">
                        <p class="text-truncate">{{ tenantCurrency.Id }}</p>
                    </mat-cell>
                </ng-container>

                <!-- CurrencyCode Column -->
                <ng-container matColumnDef="CurrencyCode">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "TENANTCURRENCY.CURRENCYCODE" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let tenantCurrency">
                        <p class="text-truncate">
                            {{ tenantCurrency.CurrencyCode }}
                        </p>
                    </mat-cell>
                </ng-container>
                <!-- CurrencyCodeNumeric Column -->
                <ng-container matColumnDef="CurrencyCodeNumeric">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "TENANTCURRENCY.CURRENCYCODENUMERIC" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let tenantCurrency">
                        <p class="text-truncate">
                            {{ tenantCurrency.CurrencyCodeNumeric }}
                        </p>
                    </mat-cell>
                </ng-container>
                <!-- CurrencyName Column -->
                <ng-container matColumnDef="CurrencyName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "TENANTCURRENCY.CURRENCYNAME" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let tenantCurrency">
                        <p class="text-truncate">
                            {{ tenantCurrency.CurrencyName }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- InsertDateTime Column -->
                <ng-container matColumnDef="InsertDateTime">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-xs
                        >{{
                            "TENANTCURRENCY.INSERTDATETIME" | translate
                        }}</mat-header-cell
                    >
                    <mat-cell
                        *matCellDef="let tenantCurrency"
                        fxHide
                        fxShow.gt-sm
                    >
                        <span class="text-truncate"
                            >{{
                                tenantCurrency.InsertDateTime
                                    | date : "dd/MM/YYYY HH:mm:ss "
                            }}
                        </span>
                    </mat-cell>
                </ng-container>

                <!-- UpdateDateTime Column -->
                <ng-container matColumnDef="UpdateDateTime">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-sm
                        >{{
                            "TENANTCURRENCY.UPDATEDATETIME" | translate
                        }}</mat-header-cell
                    >
                    <mat-cell
                        *matCellDef="let tenantCurrency"
                        fxHide
                        fxShow.gt-xs
                    >
                        <span class="text-truncate"
                            >{{
                                tenantCurrency.UpdateDateTime
                                    | date : "dd/MM/YYYY HH:mm:ss"
                            }}
                        </span>
                    </mat-cell>
                </ng-container>
                <!-- Buttons Column -->
                <ng-container matColumnDef="Buttons">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let tenantCurrency">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="moreMenu"
                                aria-label="More"
                                (click)="$event.stopPropagation()"
                            >
                                <mat-icon class="secondary-text"
                                    >more_vert</mat-icon
                                >
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button
                                    mat-menu-item
                                    aria-label="remove"
                                    (click)="
                                        DeleteTenantCurrencyProfile(
                                            tenantCurrency
                                        )
                                    "
                                >
                                    <mat-icon>delete</mat-icon>
                                    <span
                                        >{{
                                            "TENANTCURRENCY.REMOVE" | translate
                                        }}
                                    </span>
                                </button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                ></mat-header-row>

                <mat-row
                    *matRowDef="let tenantCurrency; columns: displayedColumns"
                    class="tenantCurrency"
                    (click)="EditTenantCurrency(tenantCurrency)"
                    [@animate]="{
                        value: '*',
                        params: { y: '100%' }
                    }"
                >
                </mat-row>
            </mat-table>

            <mat-paginator
                #paginator
                [length]="tenantCurrencyProfilesDataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
            >
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
