<div id="fraudApiDefinitions" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            ></div>
            <!-- / APP TITLE -->
            <div class="headerButton">
                <div>
                    <!-- SEARCH BUTTON -->
                    <button
                        mat-raised-button
                        class="add-fraudApi-button fuse-white mt-24 mr-35"
                        (click)="SearchFraudApiDefinition()"
                    >
                        <span>{{ "FRAUDAPI.SEARCH" | translate }}</span>
                    </button>
                    <!-- SEARCH BUTTON -->
                    <!-- CLEAR BUTTON -->
                    <button
                        mat-raised-button
                        color="basic"
                        class="add-fraudApi-button fuse-white m-20"
                        (click)="ClearButton()"
                    >
                        {{ "FRAUDAPI.CLEAR" | translate }}
                    </button>
                    <!-- CLEAR BUTTON -->
                    <!-- ADD BUTTON -->
                    <button
                        mat-raised-button
                        color="basic"
                        [routerLink]="'/searchFraudApiDefinitions/new'"
                        class="add-fraudApi-button fuse-white m-10"
                    >
                        {{ "FRAUDAPI.ADD" | translate }}
                    </button>
                    <!-- ADD BUTTON -->
                </div>
            </div>
        </div>
        <!-- / ADD BUTTON -->

        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form
                    name="fraudApiDefinitionsForm"
                    [formGroup]="fraudApiDefinitionsForm"
                    class="fraudApi w-100-p"
                    fxLayout="column"
                    fxFlex
                >
                    <div class="tab-content p-24" fusePerfectScrollbar>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "FRAUDAPI.SEARCHSTARTDATE" | translate
                                }}</mat-label>

                                <input
                                    matInput
                                    name="SearchStartDate"
                                    formControlName="SearchStartDate"
                                    [matDatepicker]="pickerSearchStartDate"
                                    [(ngModel)]="fraudApi.SearchStartDate"
                                    (dateChange)="
                                        onSearchStartDateChange($event)
                                    "
                                />

                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="pickerSearchStartDate"
                                >
                                </mat-datepicker-toggle>
                                <mat-datepicker #pickerSearchStartDate>
                                </mat-datepicker>
                            </mat-form-field>

                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "FRAUDAPI.SEARCHENDDATE" | translate
                                }}</mat-label>
                                <input
                                    matInput
                                    [matDatepicker]="pickerSearchEndDate"
                                    formControlName="SearchEndDate"
                                    [(ngModel)]="fraudApi.SearchEndDate"
                                    (dateChange)="onSearchEndDateChange($event)"
                                />

                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="pickerSearchEndDate"
                                >
                                </mat-datepicker-toggle>
                                <mat-datepicker
                                    #pickerSearchEndDate
                                ></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "FRAUDAPI.APPLICATIONTYPE" | translate
                                }}</mat-label>
                                <mat-select
                                    name="ApplicationTypeId"
                                    formControlName="ApplicationTypeId"
                                    [(value)]="fraudApi.ApplicationTypeId"
                                >
                                    <mat-option
                                        *ngFor="let fraudApi of applicationType"
                                        [value]="fraudApi.Id"
                                    >
                                        {{ fraudApi.Description }}
                                    </mat-option>
                                </mat-select>
                                <button
                                    style="font-size: 13px"
                                    *ngIf="fraudApi.ApplicationTypeId"
                                    matSuffix
                                    mat-icon-button
                                    aria-label="Clear"
                                    (click)="
                                        fraudApi.ApplicationTypeId = undefined;
                                        $event.stopPropagation()
                                    "
                                >
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "FRAUDAPI.ACTIONNAME" | translate
                                }}</mat-label>
                                <input
                                    matInput
                                    placeholder="{{
                                        'FRAUDAPI.ACTIONNAME' | translate
                                    }}"
                                    name="ActionName"
                                    formControlName="ActionName"
                                />
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "FRAUDAPI.DESCRIPTION" | translate
                                }}</mat-label>
                                <input
                                    matInput
                                    placeholder="{{
                                        'FRAUDAPI.DESCRIPTION' | translate
                                    }}"
                                    name="Description"
                                    formControlName="Description"
                                />
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- / CENTER -->
</div>
