@import "src/@fuse/scss/fuse";
searchSystemFileInformation {
    #searchSystemFileInformation {
        .top-bg {
            @include media-breakpoint("lt-md") {
                height: 256px;
            }
        }

        > .center {
            > .header {
                .search-wrapper {
                    width: 100%;
                    max-width: 480px;
                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);

                    @include media-breakpoint("xs") {
                        width: 100%;
                    }

                    .search {
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 18px;
                        background-color: white;
                        color: gray;

                        input {
                            width: 100%;
                            height: 48px;
                            min-height: 48px;
                            max-height: 48px;
                            padding: 0 16px;
                            border: none;
                            outline: none;
                        }
                    }
                }

                @include media-breakpoint("lt-md") {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }

    .searchSystemFileInformations-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
            width: 400vh;
        }

        .systemFileInformation {
            position: relative;
            cursor: pointer;
            height: 84px;
            width: 400vh;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }
        .mat-column-Id {
            flex: 0 1 100px;
            justify-content: center;
        }

        .mat-column-TenantName {
            flex: 0 1 400px;
            justify-content: center;
        }

        .mat-column-InsertDateTime {
            flex: 0 1 400px;
            justify-content: center;
        }
        .mat-column-IsTenantFile {
            flex: 0 1 400px;
            justify-content: center;
        }

        .mat-column-FileFormatCode {
            flex: 0 1 400px;
            justify-content: center;
        }

        .mat-column-FileName {
            flex: 0 1 400px;
            justify-content: center;
        }

        .mat-column-FileSourceName {
            flex: 0 1 400px;
            justify-content: center;
        }

        .mat-column-FileSize {
            flex: 0 1 400px;
            justify-content: center;
        }

        .mat-column-DailyFileIndex {
            flex: 0 1 400px;
            justify-content: center;
        }

        .mat-column-RecordCount {
            flex: 0 1 400px;
            justify-content: center;
        }

        .mat-column-RejectCount {
            flex: 0 1 400px;
            justify-content: center;
        }

        .mat-column-FileStatusName {
            flex: 0 1 400px;
            justify-content: center;
        }

        .mat-column-FileFormatTypeName {
            flex: 0 1 400px;
            justify-content: center;
        }

        .mat-column-FileDirectionTypeName {
            flex: 0 1 400px;
            justify-content: center;
        }
        .active-icon {
            border-radius: 50%;
        }
    }
}
