<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button
                mat-icon-button
                (click)="matDialogRef.close()"
                aria-label="Close dialog"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="systemRestrictionProfileForm">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    class="w-100-p"
                >
                    <mat-label>{{
                        "SYSTEMRESTRICTION.RESTRICTIONTYPEID" | translate
                    }}</mat-label>
                    <mat-select
                        name="RestrictionTypeId"
                        formControlName="RestrictionTypeId"
                        [(value)]="systemRestriction.RestrictionTypeId"
                    >
                        <mat-option
                            *ngFor="let systemRestriction of restrictionType"
                            [value]="systemRestriction.Id"
                        >
                            {{ systemRestriction.Description }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{
                        "SYSTEMRESTRICTION.RESTRICTIONCODE" | translate
                    }}</mat-label>

                    <input
                        name="RestrictionCode"
                        formControlName="RestrictionCode"
                        matInput
                    />
                </mat-form-field>
            </div>
        </form>
    </div>

    <div
        mat-dialog-actions
        class="m-0 p-16"
        fxLayout="row"
        fxLayoutAlign="end center"
    >
        <button
            *ngIf="action === 'edit'"
            mat-button
            class="mr-8"
            (click)="
                matDialogRef.close(['delete', systemRestrictionProfileForm])
            "
            aria-label="Delete"
            matTooltip="Delete"
        >
            {{ "SYSTEMRESTRICTION.DELETE" | translate }}
        </button>

        <button
            *ngIf="action !== 'edit'"
            mat-button
            class="save-button"
            (click)="matDialogRef.close(systemRestrictionProfileForm)"
            [disabled]="systemRestrictionProfileForm.invalid"
            aria-label="SAVE"
        >
            {{ "SYSTEMRESTRICTION.ADD" | translate }}
        </button>

        <button
            *ngIf="action === 'edit'"
            mat-button
            class="save-button"
            (click)="matDialogRef.close(['save', systemRestrictionProfileForm])"
            [disabled]="systemRestrictionProfileForm.invalid"
            aria-label="SAVE"
        >
            {{ "SYSTEMRESTRICTION.SAVE" | translate }}
        </button>
    </div>
</div>
