<div id="occupationdetails" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button
                    mat-icon-button
                    class="mr-0 mr-sm-16"
                    [routerLink]="
                        '/Parameters/OccupationDefinitions/occupationDefinitions'
                    "
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div
                    class="occupationdetail-image mr-8 mr-sm-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    <img
                        *ngIf="occupation.images[0]"
                        [src]="occupation.images[0].url"
                    />
                    <img
                        *ngIf="!occupation.images[0]"
                        [src]="
                            'assets/images/ecommerce/occupation-image-placeholder.png'
                        "
                    />
                </div>

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    <div class="h2" *ngIf="pageType === 'edit'"></div>
                    <div class="h2" *ngIf="pageType === 'new'">
                        {{ "OCCUPATION.NEWOCCUPATION" | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{
                            "OCCUPATION.OCCUPATIONDETAIL" | translate
                        }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button
                mat-raised-button
                class="save-occupationdetail-button"
                [disabled]="
                    occupationDetailForm.invalid ||
                    occupationDetailForm.pristine
                "
                *ngIf="pageType === 'new'"
                (click)="createOccupation()"
            >
                <span>{{ "OCCUPATION.ADD" | translate }}</span>
            </button>

            <button
                mat-raised-button
                class="save-occupationdetail-button"
                [disabled]="
                    occupationDetailForm.invalid ||
                    occupationDetailForm.pristine
                "
                *ngIf="pageType === 'edit'"
                (click)="updateOccupation()"
            >
                <span>{{ "OCCUPATION.SAVE" | translate }}</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form
                    name="occupationDetailForm"
                    [formGroup]="occupationDetailForm"
                    class="occupationdetail w-100-p"
                    fxLayout="column"
                    fxFlex
                >
                    <mat-tab-group>
                        <mat-tab
                            label="{{
                                'OCCUPATION.OCCUPATIONINFO' | translate
                            }}"
                        >
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                >
                                    <mat-label>{{
                                        "OCCUPATION.OCCUPATIONCODE" | translate
                                    }}</mat-label>
                                    <input
                                        matInput
                                        placeholder="{{
                                            'OCCUPATION.OCCUPATIONCODE'
                                                | translate
                                        }}"
                                        name="OccupationCode"
                                        formControlName="OccupationCode"
                                        required
                                    />
                                    <mat-error>
                                        {{
                                            "OCCUPATION.OCCUPATIONCODEREQUIRED"
                                                | translate
                                        }}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                >
                                    <mat-label>{{
                                        "OCCUPATION.DESCRIPTION" | translate
                                    }}</mat-label>
                                    <input
                                        matInput
                                        placeholder="{{
                                            'OCCUPATION.DESCRIPTION' | translate
                                        }}"
                                        name="Description"
                                        formControlName="Description"
                                    />
                                </mat-form-field>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>

            <!-- / CONTENT -->
        </div>

        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
