@import "src/@fuse/scss/fuse";
searchCardEmbossReport {
    #searchCardEmbossReport {
        .top-bg {
            @include media-breakpoint("lt-md") {
                height: 256px;
            }
        }

        > .center {
            > .header {
                .search-wrapper {
                    width: 100%;
                    max-width: 480px;
                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);

                    @include media-breakpoint("xs") {
                        width: 100%;
                    }

                    .search {
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 18px;
                        background-color: white;
                        color: gray;

                        input {
                            width: 100%;
                            height: 48px;
                            min-height: 48px;
                            max-height: 48px;
                            padding: 0 16px;
                            border: none;
                            outline: none;
                        }
                    }
                }

                @include media-breakpoint("lt-md") {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }

    .searchCardEmbossReports-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
            width: 300vh;
        }

        .cardEmbossReport {
            position: relative;
            cursor: pointer;
            height: 84px;
            width: 300vh;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }
        .mat-column-Id {
            flex: 0 1 200px;
            justify-content: center;
        }
        .mat-column-EmbossName1 {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-TenantName {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-EmbossName2 {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-IsNoNameCard {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-IsExported {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-CardTokenNumber {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-PanSequenceNumber {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-FileName {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-EmbossStatus {
            flex: 0 1 200px;
            justify-content: center;
        }
        .mat-column-CardIssuingReasonType {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-ExpiryDate {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-ExportDateTime {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-ErrorCode {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-ContractType {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-InsertDateTime {
            flex: 0 1 300px;
            justify-content: center;
        }
        .active-icon {
            border-radius: 50%;
        }
    }
}
