@import "src/@fuse/scss/fuse";
.routingForm-dialog {
    @include media-breakpoint("xs") {
        width: 100%;
    }

    @include media-breakpoint("gt-xs") {
        width: 800px;
        height: 600px;
    }

    .mat-dialog-container {
        padding: 0;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }
    .checkbox {
        margin-bottom: 20px;
    }

    .dialog-content-wrapper {
        max-height: 90vh;
        display: flex;
        flex-direction: column;
    }
}
