<div
    id="searchApplicationUrlDefinitions"
    class="page-layout carded fullwidth inner-scroll"
>
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <button
                    mat-icon-button
                    class="mr-0 mr-sm-16"
                    [routerLink]="
                        '/Parameters/ApplicationUrlDefinitions/applicationUrlDefinitions'
                    "
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <mat-icon
                    class="logo-icon s-32 mr-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    shopping_basket
                </mat-icon>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    {{ "APPLICATIONURL.APPLICATIONURLDEFINATION" | translate }}
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div
                    class="search"
                    fxFlex
                    fxLayout="row"
                    fxLayoutAlign="start center"
                >
                    <mat-icon>search</mat-icon>
                    <input
                        #filter
                        placeholder="{{
                            'APPLICATIONURL.SEARCHTEXT' | translate
                        }}"
                    />
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button
                mat-raised-button
                [routerLink]="'/searchApplicationUrlDefinitions/new'"
                class="add-applicationUrl-button fuse-white mt-24 mt-md-0"
            >
                <span>{{ "APPLICATIONURL.ADD" | translate }}</span>
            </button>
            <!-- / ADD BUTTON -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="searchApplicationUrlDefinitions-table"
                #table
                matSort
                [@animateStagger]="{ value: '50' }"
                [dataSource]="searchApplicationUrlDefinitionsDataSource"
            >
                <!-- ID Column -->
                <ng-container matColumnDef="Id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "APPLICATIONURL.ID" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let applicationUrl">
                        <p class="text-truncate">
                            {{ applicationUrl.Id }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- TenantName Column -->
                <ng-container matColumnDef="TenantName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "APPLICATIONURL.TENANTNAME" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let applicationUrl">
                        <p class="text-truncate">
                            {{ applicationUrl.TenantName }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="Description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "APPLICATIONURL.DESCRIPTION" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let applicationUrl">
                        <p class="text-truncate">
                            {{ applicationUrl.Description }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- ApplicationTypeName Column -->
                <ng-container matColumnDef="ApplicationTypeName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "APPLICATIONURL.APPLICATIONTYPENAME" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let applicationUrl">
                        <p class="text-truncate">
                            {{ applicationUrl.ApplicationTypeName }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Url Column -->
                <ng-container matColumnDef="Url">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "APPLICATIONURL.URL" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let applicationUrl">
                        <p class="text-truncate">
                            {{ applicationUrl.Url }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- InsertDateTime Column -->
                <ng-container matColumnDef="InsertDateTime">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-xs
                        >{{
                            "APPLICATIONURL.INSERTDATETIME" | translate
                        }}</mat-header-cell
                    >
                    <mat-cell
                        *matCellDef="let applicationUrl"
                        fxHide
                        fxShow.gt-sm
                    >
                        <span class="text-truncate"
                            >{{
                                applicationUrl.InsertDateTime
                                    | date : "dd/MM/YYYY HH:mm:ss "
                            }}
                        </span>
                    </mat-cell>
                </ng-container>

                <!-- UpdateDateTime Column -->
                <ng-container matColumnDef="UpdateDateTime">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-sm
                        >{{
                            "APPLICATIONURL.UPDATEDATETIME" | translate
                        }}</mat-header-cell
                    >
                    <mat-cell
                        *matCellDef="let applicationUrl"
                        fxHide
                        fxShow.gt-xs
                    >
                        <span class="text-truncate"
                            >{{
                                applicationUrl.UpdateDateTime
                                    | date : "dd/MM/YYYY HH:mm:ss"
                            }}
                        </span>
                    </mat-cell>
                </ng-container>

                <!-- Buttons Column -->
                <ng-container matColumnDef="Buttons">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let applicationUrl">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="moreMenu"
                                aria-label="More"
                                (click)="$event.stopPropagation()"
                            >
                                <mat-icon class="secondary-text"
                                    >more_vert</mat-icon
                                >
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button
                                    mat-menu-item
                                    aria-label="remove"
                                    (click)="
                                        DeleteApplicationUrlDefinition(
                                            applicationUrl
                                        )
                                    "
                                >
                                    <mat-icon>delete</mat-icon>
                                    <span
                                        >{{
                                            "APPLICATIONURL.REMOVE" | translate
                                        }}
                                    </span>
                                </button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                    fusePerfectScrollbar
                ></mat-header-row>

                <mat-row
                    *matRowDef="let applicationUrl; columns: displayedColumns"
                    class="applicationUrl"
                    [routerLink]="[
                        '/searchApplicationUrlDefinitions',
                        applicationUrl.Id
                    ]"
                >
                </mat-row>
            </mat-table>

            <mat-paginator
                #paginator
                [length]="
                    searchApplicationUrlDefinitionsDataSource.filteredData
                        .length
                "
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
            >
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
