<div id="counties" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button
                    mat-icon-button
                    class="mr-0 mr-sm-16"
                    [routerLink]="['/city', city.CountryId]"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div
                    class="county-image mr-8 mr-sm-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    <img *ngIf="city.images[0]" [src]="city.images[0].url" />
                    <img
                        *ngIf="!city.images[0]"
                        [src]="
                            'assets/images/ecommerce/country-image-placeholder.png'
                        "
                    />
                </div>

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    <div class="h2" *ngIf="pageType === 'edit'"></div>
                    <div class="h2" *ngIf="pageType === 'new'">
                        {{ "COUNTY.NEWCITY" | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ "COUNTY.CITYDETAIL" | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div
                    class="search"
                    fxFlex
                    fxLayout="row"
                    fxLayoutAlign="start center"
                >
                    <mat-icon>search</mat-icon>
                    <input
                        #filter
                        placeholder="{{ 'COUNTY.SEARCHTEXT' | translate }}"
                    />
                </div>
            </div>
            <!-- / SEARCH -->

            <button
                mat-raised-button
                class="save-county-button"
                [disabled]="countyForm.invalid || countyForm.pristine"
                *ngIf="pageType === 'new'"
                (click)="createCity()"
            >
                <span>{{ "COUNTY.ADD" | translate }}</span>
            </button>

            <button
                mat-raised-button
                class="save-county-button"
                [disabled]="countyForm.invalid || countyForm.pristine"
                *ngIf="pageType === 'edit'"
                (click)="updateCity()"
            >
                <span>{{ "COUNTY.SAVE" | translate }}</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form
                    name="countyForm"
                    [formGroup]="countyForm"
                    class="county w-100-p"
                    fxLayout="column"
                    fxFlex
                >
                    <mat-tab-group>
                        <mat-tab
                            label="{{ 'COUNTY.CITYINFORMATION' | translate }}"
                        >
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                    *ngIf="false"
                                >
                                    <mat-label>{{ "Id" }}</mat-label>
                                    <input
                                        matInput
                                        placeholder=""
                                        name="Id"
                                        formControlName="Id"
                                    />
                                </mat-form-field>

                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                >
                                    <mat-label>{{
                                        "COUNTY.COUNTRYID" | translate
                                    }}</mat-label>
                                    <input
                                        matInput
                                        placeholder="{{
                                            'COUNTY.COUNTRYID' | translate
                                        }}"
                                        name="CountryId"
                                        formControlName="CountryId"
                                    />
                                </mat-form-field>

                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                    *ngIf="selectedCountry.HasState"
                                >
                                    <mat-label>{{
                                        "COUNTY.STATEID" | translate
                                    }}</mat-label>
                                    <mat-select
                                        name="StateId"
                                        formControlName="StateId"
                                        [(value)]="city.StateId"
                                    >
                                        <mat-option
                                            *ngFor="let state of stateList"
                                            [value]="state.Id"
                                        >
                                            {{ state.StateName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                >
                                    <mat-label>{{
                                        "COUNTY.CITYCODE" | translate
                                    }}</mat-label>
                                    <input
                                        matInput
                                        placeholder="{{
                                            'COUNTY.CITYCODE' | translate
                                        }}"
                                        name="CityCode"
                                        formControlName="CityCode"
                                    />
                                </mat-form-field>
                                <mat-form-field
                                    appearance="outline"
                                    floatLabel="always"
                                    class="w-100-p"
                                >
                                    <mat-label>{{
                                        "COUNTY.CITYNAME" | translate
                                    }}</mat-label>
                                    <input
                                        matInput
                                        placeholder="{{
                                            'COUNTY.CITYNAME' | translate
                                        }}"
                                        name="CityName"
                                        formControlName="CityName"
                                    />
                                </mat-form-field>
                            </div>
                        </mat-tab>
                        <mat-tab label="{{ 'COUNTY.COUNTY' | translate }}">
                            <mat-table
                                class="counties-table"
                                #table
                                matSort
                                [@animateStagger]="{ value: '50' }"
                                fusePerfectScrollbar
                                [dataSource]="countyDataSource"
                            >
                                <!-- Id Column -->
                                <ng-container matColumnDef="Id">
                                    <mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                        >{{
                                            "COUNTY.ID" | translate
                                        }}</mat-header-cell
                                    >
                                    <mat-cell *matCellDef="let county">
                                        <p class="text-truncate">
                                            {{ county.Id }}
                                        </p>
                                    </mat-cell>
                                </ng-container>

                                <!-- CountyName Column -->
                                <ng-container matColumnDef="CountyName">
                                    <mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                        >{{
                                            "COUNTY.COUNTYNAME" | translate
                                        }}</mat-header-cell
                                    >
                                    <mat-cell *matCellDef="let county">
                                        <p class="text-truncate">
                                            {{ county.CountyName }}
                                        </p>
                                    </mat-cell>
                                </ng-container>

                                <!-- Buttons Column -->
                                <ng-container matColumnDef="Buttons">
                                    <mat-header-cell
                                        *matHeaderCellDef
                                    ></mat-header-cell>
                                    <mat-cell *matCellDef="let county">
                                        <div
                                            fxFlex="row"
                                            fxLayoutAlign="end center"
                                        >
                                            <button
                                                mat-icon-button
                                                [matMenuTriggerFor]="moreMenu"
                                                aria-label="More"
                                                (click)="
                                                    $event.stopPropagation()
                                                "
                                            >
                                                <mat-icon class="secondary-text"
                                                    >more_vert</mat-icon
                                                >
                                            </button>

                                            <mat-menu #moreMenu="matMenu">
                                                <button
                                                    mat-menu-item
                                                    aria-label="remove"
                                                    (click)="
                                                        deleteCounty(county)
                                                    "
                                                >
                                                    <mat-icon>delete</mat-icon>
                                                    <span>{{
                                                        "COUNTY.REMOVE"
                                                            | translate
                                                    }}</span>
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row
                                    *matHeaderRowDef="
                                        displayedColumns;
                                        sticky: true
                                    "
                                ></mat-header-row>

                                <mat-row
                                    *matRowDef="
                                        let county;
                                        columns: displayedColumns
                                    "
                                    class="county"
                                    (click)="editCounty(county)"
                                    [@animate]="{
                                        value: '*',
                                        params: { y: '100%' }
                                    }"
                                >
                                </mat-row>
                            </mat-table>

                            <button
                                mat-fab
                                class="county-button"
                                id="add-county-button"
                                (click)="newForm()"
                                aria-label="add county"
                                [@animate]="{
                                    value: '*',
                                    params: { delay: '300ms', scale: '.2' }
                                }"
                            >
                                <mat-icon>add</mat-icon>
                            </button>
                        </mat-tab>
                    </mat-tab-group>
                    <mat-paginator
                        #paginator
                        [length]="countyDataSource.filteredData?.length"
                        [pageIndex]="0"
                        [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                    >
                    </mat-paginator>
                </form>
            </div>

            <!-- / CONTENT -->
        </div>

        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
