<div
    id="searchSystemFileFormat"
    class="page-layout carded fullwidth inner-scroll"
>
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <button
                    mat-icon-button
                    class="mr-0 mr-sm-16"
                    [routerLink]="'/System/SystemFileFormat/systemFileFormats'"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <mat-icon
                    class="logo-icon s-32 mr-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    shopping_basket
                </mat-icon>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    {{ "SYSTEMFILEFORMAT.SYSTEMFILEFORMAT" | translate }}
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div
                    class="search"
                    fxFlex
                    fxLayout="row"
                    fxLayoutAlign="start center"
                >
                    <mat-icon>search</mat-icon>
                    <input
                        #filter
                        placeholder="{{
                            'SYSTEMFILEFORMAT.SEARCHTEXT' | translate
                        }}"
                    />
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button
                mat-raised-button
                [routerLink]="'/searchSystemFileFormat/new'"
                class="add-systemFileFormat-button fuse-white mt-24 mt-md-0"
            >
                <span>{{ "SYSTEMFILEFORMAT.ADD" | translate }}</span>
            </button>
            <!-- / ADD BUTTON -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="searchSystemFileFormats-table"
                #table
                matSort
                [@animateStagger]="{ value: '50' }"
                [dataSource]="searchSystemFileFormatDataSource"
            >
                <!-- ID Column -->
                <ng-container matColumnDef="Id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "SYSTEMFILEFORMAT.ID" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let systemFileFormat">
                        <p class="text-truncate">
                            {{ systemFileFormat.Id }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="Description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "SYSTEMFILEFORMAT.DESCRIPTION" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let systemFileFormat">
                        <p class="text-truncate">
                            {{ systemFileFormat.Description }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- FileFormatTypeName Column -->
                <ng-container matColumnDef="FileFormatTypeName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "SYSTEMFILEFORMAT.FILEFORMATTYPENAME" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let systemFileFormat">
                        <p class="text-truncate">
                            {{ systemFileFormat.FileFormatTypeName }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- FileDirectionTypeName Column -->
                <ng-container matColumnDef="FileDirectionTypeName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "SYSTEMFILEFORMAT.FILEDIRECTIONTYPENAME" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let systemFileFormat">
                        <p class="text-truncate">
                            {{ systemFileFormat.FileDirectionTypeName }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- FileNameFormat Column -->
                <ng-container matColumnDef="FileNameFormat">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "SYSTEMFILEFORMAT.FILENAMEFORMAT" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let systemFileFormat">
                        <p class="text-truncate">
                            {{ systemFileFormat.FileNameFormat }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- FileFormatCode Column -->
                <ng-container matColumnDef="FileFormatCode">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "SYSTEMFILEFORMAT.FILEFORMATCODE" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let systemFileFormat">
                        <p class="text-truncate">
                            {{ systemFileFormat.FileFormatCode }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- InsertDateTime Column -->
                <ng-container matColumnDef="InsertDateTime">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-xs
                        >{{
                            "SYSTEMFILEFORMAT.INSERTDATETIME" | translate
                        }}</mat-header-cell
                    >
                    <mat-cell
                        *matCellDef="let systemFileFormat"
                        fxHide
                        fxShow.gt-sm
                    >
                        <span class="text-truncate"
                            >{{
                                systemFileFormat.InsertDateTime
                                    | date : "dd/MM/YYYY HH:mm:ss "
                            }}
                        </span>
                    </mat-cell>
                </ng-container>

                <!-- UpdateDateTime Column -->
                <ng-container matColumnDef="UpdateDateTime">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-sm
                        >{{
                            "SYSTEMFILEFORMAT.UPDATEDATETIME" | translate
                        }}</mat-header-cell
                    >
                    <mat-cell
                        *matCellDef="let systemFileFormat"
                        fxHide
                        fxShow.gt-xs
                    >
                        <span class="text-truncate"
                            >{{
                                systemFileFormat.UpdateDateTime
                                    | date : "dd/MM/YYYY HH:mm:ss"
                            }}
                        </span>
                    </mat-cell>
                </ng-container>

                <!-- Buttons Column -->
                <ng-container matColumnDef="Buttons">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let systemFileFormat">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="moreMenu"
                                aria-label="More"
                                (click)="$event.stopPropagation()"
                            >
                                <mat-icon class="secondary-text"
                                    >more_vert</mat-icon
                                >
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button
                                    mat-menu-item
                                    aria-label="remove"
                                    (click)="
                                        DeleteSystemFileFormat(systemFileFormat)
                                    "
                                >
                                    <mat-icon>delete</mat-icon>
                                    <span
                                        >{{
                                            "SYSTEMFILEFORMAT.REMOVE"
                                                | translate
                                        }}
                                    </span>
                                </button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                    fusePerfectScrollbar
                ></mat-header-row>

                <mat-row
                    *matRowDef="let systemFileFormat; columns: displayedColumns"
                    class="systemFileFormat"
                    [routerLink]="[
                        '/searchSystemFileFormat',
                        systemFileFormat.Id
                    ]"
                >
                </mat-row>
            </mat-table>

            <mat-paginator
                #paginator
                [length]="searchSystemFileFormatDataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
            >
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
