<div
    id="notificationMonitoring"
    class="page-layout carded fullwidth inner-scroll"
>
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button
                    mat-icon-button
                    class="mr-0 mr-sm-16"
                    [routerLink]="
                        '/Notifications/NotificationMonitoring/notificationMonitoring'
                    "
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div
                    class="notificationMonitoring-image mr-8 mr-sm-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    <img
                        *ngIf="notificationMonitoring.images[0]"
                        [src]="notificationMonitoring.images[0].url"
                    />
                    <img
                        *ngIf="!notificationMonitoring.images[0]"
                        [src]="
                            'assets/images/ecommerce/resource-image-placeholder.png'
                        "
                    />
                </div>

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    <div class="h2" *ngIf="pageType === 'edit'"></div>
                    <div class="h2" *ngIf="pageType === 'new'">
                        {{
                            "NOTIFICATIONMONITORING.NOTIFICATIONMONITORING"
                                | translate
                        }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{
                            "NOTIFICATIONMONITORING.NOTIFICATIONMONITORINGDETAIL"
                                | translate
                        }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button
                mat-raised-button
                class="save-notificationMonitoring-button"
                [disabled]="
                    notificationMonitoringForm.invalid ||
                    notificationMonitoringForm.pristine
                "
                *ngIf="pageType === 'new'"
                (click)="CreateNotificationMonitoring()"
            >
                <span>{{ "NOTIFICATIONMONITORING.ADD" | translate }}</span>
            </button>

            <button
                mat-raised-button
                class="save-notificationMonitoring-button"
                [disabled]="
                    notificationMonitoringForm.invalid ||
                    notificationMonitoringForm.pristine
                "
                *ngIf="pageType === 'edit'"
                (click)="UpdateNotificationMonitoring()"
            >
                <span>{{ "NOTIFICATIONMONITORING.SAVE" | translate }}</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form
                    name="notificationMonitoringForm"
                    [formGroup]="notificationMonitoringForm"
                    class="notificationMonitoring w-100-p"
                    fxLayout="column"
                    fxFlex
                >
                    <mat-tab-group>
                        <mat-tab
                            label="{{
                                'NOTIFICATIONMONITORING.NOTIFICATIONMONITORINGINFO'
                                    | translate
                            }}"
                        >
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div class="checkbox">
                                    <mat-checkbox
                                        name="IsEncrypted"
                                        formControlName="IsEncrypted"
                                        >{{
                                            "NOTIFICATIONMONITORING.ISENCRYPTED"
                                                | translate
                                        }}</mat-checkbox
                                    >
                                </div>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "NOTIFICATIONMONITORING.CUSTOMERNAME"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'NOTIFICATIONMONITORING.CUSTOMERNAME'
                                                    | translate
                                            }}"
                                            name="CustomerName"
                                            formControlName="CustomerName"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "NOTIFICATIONMONITORING.NOTIFICATIONTYPE"
                                                | translate
                                        }}</mat-label>
                                        <mat-select
                                            name="NotificationTypeId"
                                            formControlName="NotificationTypeId"
                                            [(value)]="
                                                notificationMonitoring.NotificationTypeId
                                            "
                                        >
                                            <mat-option
                                                *ngFor="
                                                    let notificationMonitoring of notificationType
                                                "
                                                [value]="
                                                    notificationMonitoring.Id
                                                "
                                            >
                                                {{
                                                    notificationMonitoring.Description
                                                }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "NOTIFICATIONMONITORING.NOTIFICATIONTEMPLATE"
                                                | translate
                                        }}</mat-label>
                                        <mat-select
                                            name="TemplateId"
                                            formControlName="TemplateId"
                                            [(value)]="
                                                notificationMonitoring.TemplateId
                                            "
                                        >
                                            <mat-option
                                                *ngFor="
                                                    let notificationMonitoring of notificationTemplate
                                                "
                                                [value]="
                                                    notificationMonitoring.Id
                                                "
                                            >
                                                {{
                                                    notificationMonitoring.Description
                                                }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "NOTIFICATIONMONITORING.LANGUAGECODE"
                                                | translate
                                        }}</mat-label>
                                        <mat-select
                                            name="LanguageCodeId"
                                            formControlName="LanguageCodeId"
                                            [(value)]="
                                                notificationMonitoring.LanguageCodeId
                                            "
                                        >
                                            <mat-option
                                                *ngFor="
                                                    let notificationMonitoring of languageCode
                                                "
                                                [value]="
                                                    notificationMonitoring.Id
                                                "
                                            >
                                                {{
                                                    notificationMonitoring.Description
                                                }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "NOTIFICATIONMONITORING.SENTSTATUS"
                                                | translate
                                        }}</mat-label>
                                        <mat-select
                                            name="SentStatusId"
                                            formControlName="SentStatusId"
                                            [(value)]="
                                                notificationMonitoring.SentStatusId
                                            "
                                        >
                                            <mat-option
                                                *ngFor="
                                                    let notificationMonitoring of sentStatus
                                                "
                                                [value]="
                                                    notificationMonitoring.Id
                                                "
                                            >
                                                {{
                                                    notificationMonitoring.Description
                                                }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "NOTIFICATIONMONITORING.COMPANY"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            type="number"
                                            matInput
                                            placeholder="{{
                                                'NOTIFICATIONMONITORING.COMPANY'
                                                    | translate
                                            }}"
                                            name="CompanyId"
                                            formControlName="CompanyId"
                                        />
                                    </mat-form-field>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "NOTIFICATIONMONITORING.RECEIVERADDRESS"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'NOTIFICATIONMONITORING.RECEIVERADDRESS'
                                                    | translate
                                            }}"
                                            name="ReceiverAddress"
                                            formControlName="ReceiverAddress"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "NOTIFICATIONMONITORING.SUBJECT"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'NOTIFICATIONMONITORING.SUBJECT'
                                                    | translate
                                            }}"
                                            name="Subject"
                                            formControlName="Subject"
                                        />
                                    </mat-form-field>
                                </div>

                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "NOTIFICATIONMONITORING.MAXRETRYCOUNT"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            type="number"
                                            matInput
                                            placeholder="{{
                                                'NOTIFICATIONMONITORING.MAXRETRYCOUNT'
                                                    | translate
                                            }}"
                                            name="MaxRetryCount"
                                            formControlName="MaxRetryCount"
                                        />
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "NOTIFICATIONMONITORING.ATTEMPTCOUNT"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            type="number"
                                            matInput
                                            placeholder="{{
                                                'NOTIFICATIONMONITORING.ATTEMPTCOUNT'
                                                    | translate
                                            }}"
                                            name="AttemptCount"
                                            formControlName="AttemptCount"
                                        />
                                    </mat-form-field>
                                </div>

                                <div class="checkbox">
                                    <mat-checkbox
                                        name="HasExpiryDateTime"
                                        formControlName="HasExpiryDateTime"
                                        [(ngModel)]="
                                            notificationMonitoring.HasExpiryDateTime
                                        "
                                        >{{
                                            "NOTIFICATIONMONITORING.HASEXPIRYDATE"
                                                | translate
                                        }}</mat-checkbox
                                    >
                                </div>

                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                        *ngIf="
                                            notificationMonitoring.HasExpiryDateTime
                                        "
                                    >
                                        <mat-label>{{
                                            "NOTIFICATIONMONITORING.EXPIRYDATETIME"
                                                | translate
                                        }}</mat-label>

                                        <input
                                            matInput
                                            name="ExpiryDateTime"
                                            formControlName="ExpiryDateTime"
                                            [matDatepicker]="
                                                pickerExpiryDateTime
                                            "
                                            (dateChange)="
                                                onExpiryDateTimeChange($event)
                                            "
                                        />

                                        <mat-datepicker-toggle
                                            matSuffix
                                            [for]="pickerExpiryDateTime"
                                        >
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #pickerExpiryDateTime>
                                        </mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "NOTIFICATIONMONITORING.PRIORITY"
                                                | translate
                                        }}</mat-label>
                                        <input
                                            type="number"
                                            matInput
                                            placeholder="{{
                                                'NOTIFICATIONMONITORING.PRIORITY'
                                                    | translate
                                            }}"
                                            name="Priority"
                                            formControlName="Priority"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab
                            label="{{
                                'NOTIFICATIONMONITORING.CONTENT' | translate
                            }}"
                        >
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "NOTIFICATIONMONITORING.CONTENT"
                                                | translate
                                        }}</mat-label>
                                        <textarea
                                            matInput
                                            placeholder="{{
                                                'NOTIFICATIONMONITORING.CONTENT'
                                                    | translate
                                            }}"
                                            name="Content"
                                            formControlName="Content"
                                            rows="25"
                                        >
                                        </textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>

            <!-- / CONTENT -->
        </div>

        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
