<div
    id="systemFileInformations"
    class="page-layout carded fullwidth inner-scroll"
>
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            ></div>
            <!-- / APP TITLE -->
            <div class="headerButton">
                <div>
                    <!-- SEARCH BUTTON -->
                    <button
                        mat-raised-button
                        class="add-systemFileInformation-button fuse-white mt-24 mr-35"
                        (click)="SearchSystemFileInformation()"
                    >
                        <span>{{
                            "SYSTEMFILEINFORMATION.SEARCH" | translate
                        }}</span>
                    </button>
                    <!-- SEARCH BUTTON -->
                    <!-- CLEAR BUTTON -->
                    <button
                        mat-raised-button
                        color="basic"
                        class="add-systemFileInformation-button fuse-white m-20"
                        (click)="ClearButton()"
                    >
                        {{ "SYSTEMFILEINFORMATION.CLEAR" | translate }}
                    </button>

                    <!-- CLEAR BUTTON -->
                </div>
            </div>
        </div>
        <!-- / ADD BUTTON -->

        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form
                    name="systemFileInformationsForm"
                    [formGroup]="systemFileInformationsForm"
                    class="systemFileInformation w-100-p"
                    fxLayout="column"
                    fxFlex
                >
                    <div class="tab-content p-24" fusePerfectScrollbar>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "SYSTEMFILEINFORMATION.SEARCHSTARTDATE"
                                        | translate
                                }}</mat-label>

                                <input
                                    matInput
                                    name="SearchStartDate"
                                    formControlName="SearchStartDate"
                                    [matDatepicker]="pickerStartDate"
                                    [(ngModel)]="
                                        systemFileInformation.SearchStartDate
                                    "
                                    (dateChange)="onDateChange($event)"
                                />

                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="pickerStartDate"
                                >
                                </mat-datepicker-toggle>
                                <mat-datepicker #pickerStartDate>
                                </mat-datepicker>
                            </mat-form-field>

                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "SYSTEMFILEINFORMATION.SEARCHENDDATE"
                                        | translate
                                }}</mat-label>
                                <input
                                    matInput
                                    [matDatepicker]="pickerEndDate"
                                    formControlName="SearchEndDate"
                                    [(ngModel)]="
                                        systemFileInformation.SearchEndDate
                                    "
                                    (dateChange)="onDateEndChange($event)"
                                />

                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="pickerEndDate"
                                >
                                </mat-datepicker-toggle>
                                <mat-datepicker #pickerEndDate></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "SYSTEMFILEINFORMATION.TENANTID" | translate
                                }}</mat-label>
                                <mat-select
                                    name="TenantId"
                                    formControlName="TenantId"
                                    [(value)]="systemFileInformation.TenantId"
                                >
                                    <mat-option
                                        *ngFor="
                                            let systemFileInformation of tenant
                                        "
                                        [value]="systemFileInformation.Id"
                                    >
                                        {{ systemFileInformation.TenantName }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "SYSTEMFILEINFORMATION.FILEFORMATTYPE"
                                        | translate
                                }}</mat-label>
                                <mat-select
                                    name="FileFormatTypeId"
                                    formControlName="FileFormatTypeId"
                                    [(value)]="
                                        systemFileInformation.FileFormatTypeId
                                    "
                                >
                                    <mat-option
                                        *ngFor="
                                            let systemFileInformation of fileFormatType
                                        "
                                        [value]="systemFileInformation.Id"
                                    >
                                        {{ systemFileInformation.Description }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "SYSTEMFILEINFORMATION.FILEDIRECTIONTYPE"
                                        | translate
                                }}</mat-label>
                                <mat-select
                                    name="FileDirectionTypeId"
                                    formControlName="FileDirectionTypeId"
                                    [(value)]="
                                        systemFileInformation.FileDirectionTypeId
                                    "
                                >
                                    <mat-option
                                        *ngFor="
                                            let systemFileInformation of fileDirectionType
                                        "
                                        [value]="systemFileInformation.Id"
                                    >
                                        {{ systemFileInformation.Description }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "SYSTEMFILEINFORMATION.FILESTATUS"
                                        | translate
                                }}</mat-label>
                                <mat-select
                                    name="FileStatusId"
                                    formControlName="FileStatusId"
                                    [(value)]="
                                        systemFileInformation.FileStatusId
                                    "
                                >
                                    <mat-option
                                        *ngFor="
                                            let systemFileInformation of fileStatusType
                                        "
                                        [value]="systemFileInformation.Id"
                                    >
                                        {{ systemFileInformation.Description }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "SYSTEMFILEINFORMATION.FILESOURCE"
                                        | translate
                                }}</mat-label>
                                <mat-select
                                    name="FileSourceId"
                                    formControlName="FileSourceId"
                                    [(value)]="
                                        systemFileInformation.FileSourceId
                                    "
                                >
                                    <mat-option
                                        *ngFor="
                                            let systemFileInformation of fileSourceType
                                        "
                                        [value]="systemFileInformation.Id"
                                    >
                                        {{ systemFileInformation.Description }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "SYSTEMFILEINFORMATION.FILENAME" | translate
                                }}</mat-label>
                                <input
                                    matInput
                                    placeholder="{{
                                        'SYSTEMFILEINFORMATION.FILENAME'
                                            | translate
                                    }}"
                                    name="FileName"
                                    formControlName="FileName"
                                />
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- / CENTER -->
</div>
