<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button
                mat-icon-button
                (click)="matDialogRef.close()"
                aria-label="Close dialog"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0">
        <form [formGroup]="sessionConnectionForm">
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    class="w-100-p"
                    fxFlex="48"
                >
                    <mat-label>{{
                        "SWITCHAPPLICATION.SESSION" | translate
                    }}</mat-label>
                    <mat-select
                        name="SessionId"
                        formControlName="SessionId"
                        [(value)]="switchApplication.SessionId"
                    >
                        <mat-option
                            *ngFor="
                                let switchApplication of applicationSessionList
                            "
                            [value]="switchApplication.Id"
                        >
                            {{ switchApplication.Description }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    class="w-100-p"
                    fxFlex="48"
                >
                    <mat-label>{{
                        "SWITCHAPPLICATION.SERVER" | translate
                    }}</mat-label>
                    <input
                        matInput
                        placeholder="{{
                            'SWITCHAPPLICATION.SERVER' | translate
                        }}"
                        name="Server"
                        formControlName="Server"
                    />
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    class="w-100-p"
                    fxFlex="48"
                >
                    <mat-label>{{
                        "SWITCHAPPLICATION.PORT" | translate
                    }}</mat-label>
                    <input
                        matInput
                        placeholder="{{ 'SWITCHAPPLICATION.PORT' | translate }}"
                        name="Port"
                        formControlName="Port"
                    />
                </mat-form-field>
                <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    class="w-100-p"
                    fxFlex="48"
                >
                    <mat-label>{{
                        "SWITCHAPPLICATION.PERMITTEDIPADDRESS" | translate
                    }}</mat-label>
                    <input
                        matInput
                        placeholder="{{
                            'SWITCHAPPLICATION.PERMITTEDIPADDRESS' | translate
                        }}"
                        name="PermittedIpAddress"
                        formControlName="PermittedIpAddress"
                    />
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    class="w-100-p"
                    fxFlex="48"
                >
                    <mat-label>{{
                        "SWITCHAPPLICATION.PRIORITY" | translate
                    }}</mat-label>
                    <input
                        matInput
                        placeholder="{{
                            'SWITCHAPPLICATION.PRIORITY' | translate
                        }}"
                        name="Priority"
                        formControlName="Priority"
                    />
                </mat-form-field>
            </div>
        </form>
    </div>

    <div
        mat-dialog-actions
        class="m-0 p-16"
        fxLayout="row"
        fxLayoutAlign="end center"
    >
        <button
            *ngIf="action === 'edit'"
            mat-button
            class="mr-8"
            (click)="matDialogRef.close(['delete', sessionConnectionForm])"
            aria-label="Delete"
            matTooltip="Delete"
        >
            {{ "SWITCHAPPLICATION.DELETE" | translate }}
        </button>

        <button
            *ngIf="action !== 'edit'"
            mat-button
            class="save-button"
            (click)="matDialogRef.close(sessionConnectionForm)"
            [disabled]="sessionConnectionForm.invalid"
            aria-label="SAVE"
        >
            {{ "SWITCHAPPLICATION.ADD" | translate }}
        </button>

        <button
            *ngIf="action === 'edit'"
            mat-button
            class="save-button"
            (click)="matDialogRef.close(['save', sessionConnectionForm])"
            [disabled]="sessionConnectionForm.invalid"
            aria-label="SAVE"
        >
            {{ "SWITCHAPPLICATION.SAVE" | translate }}
        </button>
    </div>
</div>
