@import "src/@fuse/scss/fuse";
searchTimeoutLog {
    #searchTimeoutLog {
        .top-bg {
            @include media-breakpoint("lt-md") {
                height: 256px;
            }
        }

        > .center {
            > .header {
                .search-wrapper {
                    width: 100%;
                    max-width: 480px;
                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);

                    @include media-breakpoint("xs") {
                        width: 100%;
                    }

                    .search {
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 18px;
                        background-color: white;
                        color: gray;

                        input {
                            width: 100%;
                            height: 48px;
                            min-height: 48px;
                            max-height: 48px;
                            padding: 0 16px;
                            border: none;
                            outline: none;
                        }
                    }
                }

                @include media-breakpoint("lt-md") {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }

    .searchTimeoutLogs-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
            width: 200vw;
        }

        .searchTimeoutLog {
            position: relative;
            cursor: pointer;
            height: 84px;
            width: 200vw;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }
        .mat-column-Id {
            flex: 0 1 100px;
            justify-content: center;
        }

        .mat-column-ApplicationName {
            flex: 0 1 500px;
            justify-content: center;
        }

        .mat-column-SessionName {
            flex: 0 1 400px;
            justify-content: center;
        }

        .mat-column-ApplicationType {
            flex: 0 1 400px;
            justify-content: center;
        }

        .mat-column-TransactionType {
            flex: 0 1 400px;
            justify-content: center;
        }

        .mat-column-CardTokenNumber {
            flex: 0 1 600px;
            justify-content: center;
        }

        .mat-column-TxnDescription {
            flex: 0 1 600px;
            justify-content: center;
        }
        .mat-column-AuthorizationCode {
            flex: 0 1 600px;
            justify-content: center;
        }
        .mat-column-ProcessingCode {
            flex: 0 1 400px;
            justify-content: center;
        }
        .mat-column-ServerName {
            flex: 0 1 400px;
            justify-content: center;
        }
        .mat-column-RemoteIpAddress {
            flex: 0 1 600px;
            justify-content: center;
        }
        .mat-column-LocalIpAddress {
            flex: 0 1 400px;
            justify-content: center;
        }
        .mat-column-InsertDateTime {
            flex: 0 1 600px;
            justify-content: center;
        }
        .mat-column-Mti {
            flex: 0 1 400px;
            justify-content: center;
        }
        .mat-column-Rrn {
            flex: 0 1 400px;
            justify-content: center;
        }
        .mat-column-AcquirerId {
            flex: 0 1 400px;
            justify-content: center;
        }
        .mat-column-MerchantCode {
            flex: 0 1 400px;
            justify-content: center;
        }
        .mat-column-TerminalId {
            flex: 0 1 400px;
            justify-content: center;
        }
        .mat-column-TransactionAmount {
            flex: 0 1 500px;
            justify-content: center;
        }
        .mat-column-TransactionCurrencyCode {
            flex: 0 1 600px;
            justify-content: center;
        }
    }
}
#add-switchTimeout-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 0;
    z-index: 99;
}
