<div id="searchQuerys" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <button
                    mat-icon-button
                    class="mr-0 mr-sm-16"
                    [routerLink]="'/System/system/querys'"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <mat-icon
                    class="logo-icon s-32 mr-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    shopping_basket
                </mat-icon>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    {{ "QUERY.QUERYDEFINITION" | translate }}
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div
                    class="search"
                    fxFlex
                    fxLayout="row"
                    fxLayoutAlign="start center"
                >
                    <mat-icon>search</mat-icon>
                    <input
                        #filter
                        placeholder="{{ 'QUERY.SEARCHTEXT' | translate }}"
                    />
                </div>
            </div>
            <!-- / SEARCH -->
            <!-- ADD BUTTON -->
            <button
                mat-raised-button
                class="add-query-button fuse-white mt-24 mt-md-0"
                [routerLink]="'/searchQuery/new'"
            >
                <span>{{ "QUERY.ADD" | translate }}</span>
            </button>
            <!-- / ADD BUTTON -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="searchQuerys-table"
                #table
                matSort
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
                [dataSource]="searchQueryDataSource"
            >
                <!-- Id Column -->
                <ng-container matColumnDef="Id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "QUERY.ID" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let query">
                        <p class="text-truncate">{{ query.Id }}</p>
                    </mat-cell>
                </ng-container>
                <!-- QueryType Column -->
                <ng-container matColumnDef="QueryType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "QUERY.QUERYTYPE" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let query">
                        <p class="text-truncate">{{ query.QueryType }}</p>
                    </mat-cell>
                </ng-container>
                <!-- QueryCode Column -->
                <ng-container matColumnDef="QueryCode">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "QUERY.QUERYCODE" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let query">
                        <p class="text-truncate">{{ query.QueryCode }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="Description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "QUERY.DESCRIPTION" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let query">
                        <p class="text-truncate">{{ query.Description }}</p>
                    </mat-cell>
                </ng-container>

                <!-- InsertDateTime Column -->
                <ng-container matColumnDef="InsertDateTime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "QUERY.INSERTDATETIME" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let query">
                        <p class="text-truncate">
                            {{ query.InsertDateTime }}
                        </p>
                    </mat-cell>
                </ng-container>
                <!-- UpdateDateTime Column -->
                <ng-container matColumnDef="UpdateDateTime">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-sm
                        >{{
                            "QUERY.UPDATEDATETIME" | translate
                        }}</mat-header-cell
                    >
                    <mat-cell *matCellDef="let query" fxHide fxShow.gt-xs>
                        <span class="text-truncate"
                            >{{
                                query.UpdateDateTime
                                    | date : "dd/MM/YYYY HH:mm:ss"
                            }}
                        </span>
                    </mat-cell>
                </ng-container>
                <!-- Buttons Column -->
                <ng-container matColumnDef="Buttons">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let query">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="moreMenu"
                                aria-label="More"
                                (click)="$event.stopPropagation()"
                            >
                                <mat-icon class="secondary-text"
                                    >more_vert</mat-icon
                                >
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button
                                    mat-menu-item
                                    (click)="DeleteQuery(query)"
                                >
                                    <mat-icon>delete</mat-icon>
                                    <span
                                        >{{ "QUERY.DELETE" | translate }}
                                    </span>
                                </button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                ></mat-header-row>

                <mat-row
                    *matRowDef="let query; columns: displayedColumns"
                    class="query"
                    [routerLink]="['/searchQuery', query.Id]"
                >
                </mat-row>
            </mat-table>

            <mat-paginator
                #paginator
                [length]="searchQueryDataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
            >
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
