<div
    id="schedulerJobDefinitions"
    class="page-layout carded fullwidth inner-scroll"
>
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            ></div>
            <!-- / APP TITLE -->
            <div class="headerButton">
                <div>
                    <!-- SEARCH BUTTON -->
                    <button
                        mat-raised-button
                        class="add-schedulerJob-button fuse-white mt-24 mr-35"
                        (click)="SearchSchedulerJobDefinition()"
                    >
                        <span>{{ "SCHEDULERJOB.SEARCH" | translate }}</span>
                    </button>
                    <!-- SEARCH BUTTON -->
                    <!-- CLEAR BUTTON -->
                    <button
                        mat-raised-button
                        color="basic"
                        class="add-schedulerJob-button fuse-white m-20"
                        (click)="ClearButton()"
                    >
                        {{ "SCHEDULERJOB.CLEAR" | translate }}
                    </button>
                    <!-- CLEAR BUTTON -->
                    <!-- ADD BUTTON -->
                    <button
                        mat-raised-button
                        color="basic"
                        [routerLink]="'/searchSchedulerJobDefinition/new'"
                        class="add-schedulerJob-button fuse-white m-10"
                    >
                        {{ "SCHEDULERJOB.ADD" | translate }}
                    </button>
                    <!-- ADD BUTTON -->
                </div>
            </div>
        </div>
        <!-- / ADD BUTTON -->

        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form
                    name="schedulerJobDefinitionsForm"
                    [formGroup]="schedulerJobDefinitionsForm"
                    class="schedulerJob w-100-p"
                    fxLayout="column"
                    fxFlex
                >
                    <div class="tab-content p-24" fusePerfectScrollbar>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "SCHEDULERJOB.SEARCHSTARTDATE" | translate
                                }}</mat-label>

                                <input
                                    matInput
                                    name="SearchStartDate"
                                    formControlName="SearchStartDate"
                                    [matDatepicker]="pickerSearchStartDate"
                                    [(ngModel)]="schedulerJob.SearchStartDate"
                                    (dateChange)="
                                        onSearchStartDateChange($event)
                                    "
                                />

                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="pickerSearchStartDate"
                                >
                                </mat-datepicker-toggle>
                                <mat-datepicker #pickerSearchStartDate>
                                </mat-datepicker>
                            </mat-form-field>

                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "SCHEDULERJOB.SEARCHENDDATE" | translate
                                }}</mat-label>
                                <input
                                    matInput
                                    [matDatepicker]="pickerSearchEndDate"
                                    formControlName="SearchEndDate"
                                    [(ngModel)]="schedulerJob.SearchEndDate"
                                    (dateChange)="onSearchEndDateChange($event)"
                                />

                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="pickerSearchEndDate"
                                >
                                </mat-datepicker-toggle>
                                <mat-datepicker
                                    #pickerSearchEndDate
                                ></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "SCHEDULERJOB.SEARCHSTARTTIME" | translate
                                }}</mat-label>
                                <input
                                    matInput
                                    placeholder="{{
                                        'SCHEDULERJOB.SEARCHSTARTTIME'
                                            | translate
                                    }}"
                                    name="SearchStartTime"
                                    formControlName="SearchStartTime"
                                />
                            </mat-form-field>

                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "SCHEDULERJOB.SEARCHENDTIME" | translate
                                }}</mat-label>
                                <input
                                    matInput
                                    placeholder="{{
                                        'SCHEDULERJOB.SEARCHENDTIME' | translate
                                    }}"
                                    name="SearchEndTime"
                                    formControlName="SearchEndTime"
                                />
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "SCHEDULERJOB.TENANT" | translate
                                }}</mat-label>
                                <mat-select
                                    name="TenantId"
                                    formControlName="TenantId"
                                    [(value)]="schedulerJob.TenantId"
                                >
                                    <mat-option
                                        *ngFor="let schedulerJob of tenant"
                                        [value]="schedulerJob.Id"
                                    >
                                        {{ schedulerJob.TenantName }}
                                    </mat-option>
                                </mat-select>
                                <button
                                    style="font-size: 13px"
                                    *ngIf="schedulerJob.TenantId"
                                    matSuffix
                                    mat-icon-button
                                    aria-label="Clear"
                                    (click)="
                                        schedulerJob.TenantId = undefined;
                                        $event.stopPropagation()
                                    "
                                >
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "SCHEDULERJOB.SERVERCODE" | translate
                                }}</mat-label>
                                <input
                                    matInput
                                    placeholder="{{
                                        'SCHEDULERJOB.SERVERCODE' | translate
                                    }}"
                                    name="ServerCode"
                                    formControlName="ServerCode"
                                />
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "SCHEDULERJOB.RECURRINGTYPE" | translate
                                }}</mat-label>
                                <mat-select
                                    name="RecurringTypeId"
                                    formControlName="RecurringTypeId"
                                    [(value)]="schedulerJob.RecurringTypeId"
                                >
                                    <mat-option
                                        *ngFor="
                                            let schedulerJob of schedulerRecurringType
                                        "
                                        [value]="schedulerJob.Id"
                                    >
                                        {{ schedulerJob.Description }}
                                    </mat-option>
                                </mat-select>
                                <button
                                    style="font-size: 13px"
                                    *ngIf="schedulerJob.RecurringTypeId"
                                    matSuffix
                                    mat-icon-button
                                    aria-label="Clear"
                                    (click)="
                                        schedulerJob.RecurringTypeId =
                                            undefined;
                                        $event.stopPropagation()
                                    "
                                >
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "SCHEDULERJOB.RECURRINGLEVEL" | translate
                                }}</mat-label>
                                <mat-select
                                    name="RecurringLevelId"
                                    formControlName="RecurringLevelId"
                                    [(value)]="schedulerJob.RecurringLevelId"
                                >
                                    <mat-option
                                        *ngFor="
                                            let schedulerJob of schedulerRecurringLevel
                                        "
                                        [value]="schedulerJob.Id"
                                    >
                                        {{ schedulerJob.Description }}
                                    </mat-option>
                                </mat-select>
                                <button
                                    style="font-size: 13px"
                                    *ngIf="schedulerJob.RecurringLevelId"
                                    matSuffix
                                    mat-icon-button
                                    aria-label="Clear"
                                    (click)="
                                        schedulerJob.RecurringLevelId =
                                            undefined;
                                        $event.stopPropagation()
                                    "
                                >
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "SCHEDULERJOB.LASTRUNSTATUS" | translate
                                }}</mat-label>
                                <mat-select
                                    name="LastRunStatusId"
                                    formControlName="LastRunStatusId"
                                    [(value)]="schedulerJob.LastRunStatusId"
                                >
                                    <mat-option
                                        *ngFor="
                                            let schedulerJob of schedulerJobStatus
                                        "
                                        [value]="schedulerJob.Id"
                                    >
                                        {{ schedulerJob.Description }}
                                    </mat-option>
                                </mat-select>
                                <button
                                    style="font-size: 13px"
                                    *ngIf="schedulerJob.LastRunStatusId"
                                    matSuffix
                                    mat-icon-button
                                    aria-label="Clear"
                                    (click)="
                                        schedulerJob.LastRunStatusId =
                                            undefined;
                                        $event.stopPropagation()
                                    "
                                >
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "SCHEDULERJOB.DESCRIPTION" | translate
                                }}</mat-label>
                                <input
                                    matInput
                                    placeholder="{{
                                        'SCHEDULERJOB.DESCRIPTION' | translate
                                    }}"
                                    name="Description"
                                    formControlName="Description"
                                />
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- / CENTER -->
</div>
