<div
    id="fraudGroupDefinitions"
    class="page-layout carded fullwidth inner-scroll"
>
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <mat-icon
                    class="logo-icon s-32 mr-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    shopping_basket
                </mat-icon>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    {{ "FRAUDGROUP.FRAUDGROUPDEFINITON" | translate }}
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div
                    class="search"
                    fxFlex
                    fxLayout="row"
                    fxLayoutAlign="start center"
                >
                    <mat-icon>search</mat-icon>
                    <input
                        #filter
                        placeholder="{{ 'FRAUDGROUP.SEARCHTEXT' | translate }}"
                    />
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button
                mat-raised-button
                [routerLink]="'/fraudGroupDefinitions/new'"
                class="add-fraudGroup-button fuse-white mt-24 mt-md-0"
            >
                <span>{{ "FRAUDGROUP.ADD" | translate }}</span>
            </button>
            <!-- / ADD BUTTON -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="fraudGroupDefinitions-table"
                #table
                matSort
                [@animateStagger]="{ value: '50' }"
                fusePerfectScrollbar
                [dataSource]="fraudGroupDefinitionsDataSource"
            >
                <!-- ID Column -->
                <ng-container matColumnDef="Id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "FRAUDGROUP.ID" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let fraudGroup">
                        <p class="text-truncate">
                            {{ fraudGroup.Id }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- IsBuiltInDefinition Column -->
                <ng-container matColumnDef="IsBuiltInDefinition">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "FRAUDGROUP.ISBUILTINDEFINITION" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let fraudGroup">
                        <mat-icon
                            *ngIf="fraudGroup.IsBuiltInDefinition"
                            class="active-icon green-600 s-16"
                            >check</mat-icon
                        >
                        <mat-icon
                            *ngIf="!fraudGroup.IsBuiltInDefinition"
                            class="active-icon red-500 s-16"
                            >close</mat-icon
                        >
                    </mat-cell>
                </ng-container>
                <!-- Description Column -->
                <ng-container matColumnDef="Description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "FRAUDGROUP.DESCRIPTION" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let fraudGroup">
                        <p class="text-truncate">
                            {{ fraudGroup.Description }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- InsertDateTime Column -->
                <ng-container matColumnDef="InsertDateTime">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-xs
                        >{{
                            "FRAUDGROUP.INSERTDATETIME" | translate
                        }}</mat-header-cell
                    >
                    <mat-cell *matCellDef="let fraudGroup" fxHide fxShow.gt-sm>
                        <span class="text-truncate"
                            >{{
                                fraudGroup.InsertDateTime
                                    | date : "dd/MM/YYYY HH:mm:ss "
                            }}
                        </span>
                    </mat-cell>
                </ng-container>

                <!-- UpdateDateTime Column -->
                <ng-container matColumnDef="UpdateDateTime">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-sm
                        >{{
                            "FRAUDGROUP.UPDATEDATETIME" | translate
                        }}</mat-header-cell
                    >
                    <mat-cell *matCellDef="let fraudGroup" fxHide fxShow.gt-xs>
                        <span class="text-truncate"
                            >{{
                                fraudGroup.UpdateDateTime
                                    | date : "dd/MM/YYYY HH:mm:ss"
                            }}
                        </span>
                    </mat-cell>
                </ng-container>
                <!-- Buttons Column -->
                <ng-container matColumnDef="Buttons">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let fraudGroup">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="moreMenu"
                                aria-label="More"
                                (click)="$event.stopPropagation()"
                            >
                                <mat-icon class="secondary-text"
                                    >more_vert</mat-icon
                                >
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button
                                    mat-menu-item
                                    aria-label="remove"
                                    (click)="
                                        DeleteFraudGroupDefinition(fraudGroup)
                                    "
                                >
                                    <mat-icon>delete</mat-icon>
                                    <span
                                        >{{ "FRAUDGROUP.REMOVE" | translate }}
                                    </span>
                                </button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                ></mat-header-row>

                <mat-row
                    *matRowDef="let fraudGroup; columns: displayedColumns"
                    class="fraudGroup"
                    [routerLink]="['/fraudGroupDefinitions', fraudGroup.Id]"
                >
                </mat-row>
            </mat-table>

            <mat-paginator
                #paginator
                [length]="fraudGroupDefinitionsDataSource.filteredData.length"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
            >
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
