<div
    id="searchTenantWebHookProfile"
    class="page-layout carded fullwidth inner-scroll"
>
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <button
                    mat-icon-button
                    class="mr-0 mr-sm-16"
                    [routerLink]="
                        '/WebHooks/TenantWebHookProfiles/tenantWebHookProfiles'
                    "
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <mat-icon
                    class="logo-icon s-32 mr-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    shopping_basket
                </mat-icon>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    {{ "TENANTWEBHOOK.TENANTWEBHOOKPROFILE" | translate }}
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div
                    class="search"
                    fxFlex
                    fxLayout="row"
                    fxLayoutAlign="start center"
                >
                    <mat-icon>search</mat-icon>
                    <input
                        #filter
                        placeholder="{{
                            'TENANTWEBHOOK.SEARCHTEXT' | translate
                        }}"
                    />
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button
                mat-raised-button
                [routerLink]="'/searchTenantWebHookProfile/new'"
                class="add-tenantWebHook-button fuse-white mt-24 mt-md-0"
            >
                <span>{{ "TENANTWEBHOOK.ADD" | translate }}</span>
            </button>
            <!-- / ADD BUTTON -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <mat-table
                class="searchTenantWebHookProfiles-table"
                #table
                matSort
                [@animateStagger]="{ value: '50' }"
                [dataSource]="searchTenantWebHookProfileDataSource"
            >
                <!-- ID Column -->
                <ng-container matColumnDef="Id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "TENANTWEBHOOK.ID" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let tenantWebHook">
                        <p class="text-truncate">
                            {{ tenantWebHook.Id }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- TenantName Column -->
                <ng-container matColumnDef="TenantName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "TENANTWEBHOOK.TENANTNAME" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let tenantWebHook">
                        <p class="text-truncate">
                            {{ tenantWebHook.TenantName }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- IsActive Column -->
                <ng-container matColumnDef="IsActive">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "TENANTWEBHOOK.ISACTIVE" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let tenantWebHook">
                        <mat-icon
                            *ngIf="tenantWebHook.IsActive"
                            class="active-icon green-600 s-16"
                            >check</mat-icon
                        >
                        <mat-icon
                            *ngIf="!tenantWebHook.IsActive"
                            class="active-icon red-500 s-16"
                            >close</mat-icon
                        >
                    </mat-cell>
                </ng-container>

                <!-- WebHookTypeName Column -->
                <ng-container matColumnDef="WebHookTypeName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "TENANTWEBHOOK.WEBHOOKTYPENAME" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let tenantWebHook">
                        <p class="text-truncate">
                            {{ tenantWebHook.WebHookTypeName }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- WebHookUrl Column -->
                <ng-container matColumnDef="WebHookUrl">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "TENANTWEBHOOK.WEBHOOKURL" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let tenantWebHook">
                        <p class="text-truncate">
                            {{ tenantWebHook.WebHookUrl }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- WebHookApiPath Column -->
                <ng-container matColumnDef="WebHookApiPath">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "TENANTWEBHOOK.WEBHOOKAPIPATH" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let tenantWebHook">
                        <p class="text-truncate">
                            {{ tenantWebHook.WebHookApiPath }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- HttpHeaderApiKeyName Column -->
                <ng-container matColumnDef="HttpHeaderApiKeyName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "TENANTWEBHOOK.HTTPHEADERAPIKEYNAME" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let tenantWebHook">
                        <p class="text-truncate">
                            {{ tenantWebHook.HttpHeaderApiKeyName }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- EncryptedApiKey Column -->
                <ng-container matColumnDef="EncryptedApiKey">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
                        "TENANTWEBHOOK.ENCRYPTEDAPIKEY" | translate
                    }}</mat-header-cell>
                    <mat-cell *matCellDef="let tenantWebHook">
                        <p class="text-truncate">
                            {{ tenantWebHook.EncryptedApiKey }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- InsertDateTime Column -->
                <ng-container matColumnDef="InsertDateTime">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-xs
                        >{{
                            "TENANTWEBHOOK.INSERTDATETIME" | translate
                        }}</mat-header-cell
                    >
                    <mat-cell
                        *matCellDef="let tenantWebHook"
                        fxHide
                        fxShow.gt-sm
                    >
                        <span class="text-truncate"
                            >{{
                                tenantWebHook.InsertDateTime
                                    | date : "dd/MM/YYYY HH:mm:ss "
                            }}
                        </span>
                    </mat-cell>
                </ng-container>

                <!-- UpdateDateTime Column -->
                <ng-container matColumnDef="UpdateDateTime">
                    <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        fxHide
                        fxShow.gt-sm
                        >{{
                            "TENANTWEBHOOK.UPDATEDATETIME" | translate
                        }}</mat-header-cell
                    >
                    <mat-cell
                        *matCellDef="let tenantWebHook"
                        fxHide
                        fxShow.gt-xs
                    >
                        <span class="text-truncate"
                            >{{
                                tenantWebHook.UpdateDateTime
                                    | date : "dd/MM/YYYY HH:mm:ss"
                            }}
                        </span>
                    </mat-cell>
                </ng-container>

                <!-- Buttons Column -->
                <ng-container matColumnDef="Buttons">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let tenantWebHook">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="moreMenu"
                                aria-label="More"
                                (click)="$event.stopPropagation()"
                            >
                                <mat-icon class="secondary-text"
                                    >more_vert</mat-icon
                                >
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button
                                    mat-menu-item
                                    aria-label="remove"
                                    (click)="
                                        DeleteTenantWebHookProfile(
                                            tenantWebHook
                                        )
                                    "
                                >
                                    <mat-icon>delete</mat-icon>
                                    <span
                                        >{{
                                            "TENANTWEBHOOK.REMOVE" | translate
                                        }}
                                    </span>
                                </button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                    fusePerfectScrollbar
                ></mat-header-row>

                <mat-row
                    *matRowDef="let tenantWebHook; columns: displayedColumns"
                    class="tenantWebHook"
                    [routerLink]="[
                        '/searchTenantWebHookProfile',
                        tenantWebHook.Id
                    ]"
                >
                </mat-row>
            </mat-table>

            <mat-paginator
                #paginator
                [length]="
                    searchTenantWebHookProfileDataSource.filteredData.length
                "
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
            >
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
