<div id="query" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button
                    mat-icon-button
                    class="mr-0 mr-sm-16"
                    [routerLink]="'/System/system/searchQuery'"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div
                    class="query-image mr-8 mr-sm-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    <img *ngIf="query.images[0]" [src]="query.images[0].url" />
                    <img
                        *ngIf="!query.images[0]"
                        [src]="
                            'assets/images/ecommerce/resource-image-placeholder.png'
                        "
                    />
                </div>

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    <div class="h2" *ngIf="pageType === 'edit'"></div>
                    <div class="h2" *ngIf="pageType === 'new'">
                        {{ "QUERY.NEWQUERY" | translate }}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>{{ "QUERY.QUERYDETAIL" | translate }}</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->
            <button
                mat-raised-button
                class="save-query-button"
                [disabled]="queryForm.invalid || queryForm.pristine"
                *ngIf="pageType === 'new'"
                (click)="CreateQuery()"
            >
                <span>{{ "QUERY.ADD" | translate }}</span>
            </button>

            <button
                mat-raised-button
                class="save-query-button"
                [disabled]="queryForm.invalid || queryForm.pristine"
                *ngIf="pageType === 'edit'"
                (click)="UpdateQuery()"
            >
                <span>{{ "QUERY.SAVE" | translate }}</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form
                    name="queryForm"
                    [formGroup]="queryForm"
                    class="query w-100-p"
                    fxLayout="column"
                    fxFlex
                >
                    <mat-tab-group>
                        <mat-tab label="{{ 'QUERY.QUERYINFO' | translate }}">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "QUERY.QUERYTYPEID" | translate
                                        }}</mat-label>
                                        <mat-select
                                            name="QueryTypeId"
                                            formControlName="QueryTypeId"
                                            [(value)]="query.QueryTypeId"
                                            placeholder="{{
                                                'QUERY.QUERYTYPEID' | translate
                                            }}"
                                        >
                                            <mat-option
                                                *ngFor="
                                                    let query of queryTypeList
                                                "
                                                [value]="query.Id"
                                            >
                                                {{ query.Description }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "QUERY.QUERYCODE" | translate
                                        }}</mat-label>
                                        <input
                                            matInput
                                            placeholder="{{
                                                'QUERY.QUERYCODE' | translate
                                            }}"
                                            name="QueryCode"
                                            formControlName="QueryCode"
                                        />
                                    </mat-form-field>
                                </div>

                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="space-between"
                                >
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "QUERY.QUERYTEXT" | translate
                                        }}</mat-label>
                                        <textarea
                                            matInput
                                            placeholder="{{
                                                'QUERY.QUERYTEXT' | translate
                                            }}"
                                            name="QueryText"
                                            formControlName="QueryText"
                                            rows="10"
                                        ></textarea>
                                    </mat-form-field>
                                    <mat-form-field
                                        appearance="outline"
                                        floatLabel="always"
                                        class="w-100-p"
                                        fxFlex="48"
                                    >
                                        <mat-label>{{
                                            "QUERY.DESCRIPTION" | translate
                                        }}</mat-label>
                                        <textarea
                                            matInput
                                            placeholder="{{
                                                'QUERY.DESCRIPTION' | translate
                                            }}"
                                            name="Description"
                                            formControlName="Description"
                                            rows="10"
                                        ></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>

            <!-- / CONTENT -->
        </div>

        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
