#switchApplicationDefinition {
    .header {
        .switchApplication-image {
            overflow: hidden;
            width: 56px;
            min-width: 56px;
            max-width: 56px;
            height: 56px;
            min-height: 56px;
            max-height: 56px;
            border-radius: 4px;
            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }
        .subtitle {
            margin: 6px 0 0 0;
        }
    }
    .search-wrapper {
        width: 100%;
        max-width: 480px;
        border-radius: 28px;
        overflow: hidden;
        .search {
            width: 100%;
            height: 48px;
            line-height: 48px;
            padding: 0 18px;
            background-color: white;
            color: gray;

            input {
                width: 100%;
                height: 48px;
                min-height: 48px;
                max-height: 48px;
                padding: 0 16px;
                border: none;
                outline: none;
            }
        }
    }
    .hsmConnectionLists-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
            width: 300vh;
        }
        .switchApplication {
            position: relative;
            cursor: pointer;
            height: 84px;
            width: 300vh;
        }
        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-Id {
            flex: 0 1 80px;
            justify-content: center;
        }
        .mat-column-HsmServiceName {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-ConnectionCount {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-ConnectionTimeout {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-ConnectionCheckTimeSecond {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-Buttons {
            flex: 0 1 80px;
            justify-content: center;
        }
    }
    .sessionLists-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        .mat-header-row {
            min-height: 64px;
            width: 300vh;
        }
        .switchApplication {
            position: relative;
            cursor: pointer;
            height: 84px;
            width: 300vh;
        }
        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-Id {
            flex: 0 1 150px;
            justify-content: center;
        }
        .mat-column-ConnectionType {
            flex: 0 1 350px;
            justify-content: center;
        }
        .mat-column-EndPointType {
            flex: 0 1 350px;
            justify-content: center;
        }
        .mat-column-Priority {
            flex: 0 1 350px;
            justify-content: center;
        }

        .mat-column-PinBlockFormat {
            flex: 0 1 300px;
            justify-content: center;
        }

        .mat-column-ConnectionCheckTimeSecond {
            flex: 0 1 350px;
            justify-content: center;
        }
        .mat-column-ConnectionTimeout {
            flex: 0 1 350px;
            justify-content: center;
        }
        .mat-column-Description {
            flex: 0 1 300px;
            justify-content: center;
        }

        .mat-column-Buttons {
            flex: 0 1 80px;
            justify-content: center;
        }
    }
    .routingLists-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
            width: 300vh;
        }
        .switchApplication {
            position: relative;
            cursor: pointer;
            height: 84px;
            width: 300vh;
        }
        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-Id {
            flex: 0 1 80px;
            justify-content: center;
        }
        .mat-column-RoutingRuleName {
            flex: 0 1 300px;
            justify-content: center;
        }

        .mat-column-FromSession {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-ToSession {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-ToSessionId {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-Priority {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-Buttons {
            flex: 0 1 80px;
            justify-content: center;
        }
    }
    .sessionConfigs-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
            width: 300vh;
        }
        .switchApplication {
            position: relative;
            cursor: pointer;
            height: 84px;
            width: 300vh;
        }
        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-Id {
            flex: 0 1 80px;
            justify-content: center;
        }
        .mat-column-SessionName {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-ConfigKey {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-ConfigValue {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-Buttons {
            flex: 0 1 80px;
            justify-content: center;
        }
    }
    .sessionConnections-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
            width: 300vh;
        }
        .switchApplication {
            position: relative;
            cursor: pointer;
            height: 84px;
            width: 300vh;
        }
        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-Id {
            flex: 0 1 80px;
            justify-content: center;
        }
        .mat-column-SessionName {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-Priority {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-Server {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-Port {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-PermittedIpAddress {
            flex: 0 1 300px;
            justify-content: center;
        }
        .mat-column-Buttons {
            flex: 0 1 80px;
            justify-content: center;
        }
    }

    .content {
        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content {
            flex: 1 1 auto;
            max-width: 100%;
        }
        .mat-tab-body-content {
            display: flex;
        }
        .mat-tab-label {
            height: 64px;
        }
        .switchApplication-image {
            overflow: hidden;
            width: 128px;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border-radius: 4px;
            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }
        .checkbox {
            margin-bottom: 20px;
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }
    }
}
#add-switchApplication-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 0;
    z-index: 99;
}
