@import "src/@fuse/scss/fuse";
.customerCardForm-dialog {
    @include media-breakpoint("xs") {
        width: 100%;
    }

    @include media-breakpoint("gt-xs") {
        width: 1000px;
        height: 800px;
    }

    .mat-dialog-container {
        padding: 0;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 90vh;
        display: flex;
        flex-direction: column;
    }

    .customerCards-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-row {
            min-height: 64px;
        }

        .customerCard {
            position: relative;
            cursor: pointer;
            height: 84px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }
        .mat-column-CustomerFullName {
            flex: 0 1 200px;
            justify-content: center;
        }
        .mat-column-CustomerType {
            flex: 0 1 200px;
            justify-content: center;
        }
        .mat-column-CustomerStatus {
            flex: 0 1 200px;
            justify-content: center;
        }
        .mat-column-CustomerSegment {
            flex: 0 1 200px;
            justify-content: center;
        }
        .mat-column-CustomerNumber {
            flex: 0 1 200px;
            justify-content: center;
        }
        .mat-column-FullCellPhoneNumber {
            flex: 0 1 200px;
            justify-content: center;
        }
        .mat-column-Email {
            flex: 0 1 200px;
            justify-content: center;
        }
    }
}
