<div id="querys" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
        >
            <!-- APP TITLE -->
            <div
                class="logo mb-24 mb-md-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            ></div>
            <!-- / APP TITLE -->
            <div class="headerButton">
                <div>
                    <!-- SEARCH BUTTON -->
                    <button
                        mat-raised-button
                        class="add-query-button fuse-white mt-24 mr-35"
                        (click)="SearchQuery()"
                    >
                        <span>{{ "QUERY.SEARCH" | translate }}</span>
                    </button>
                    <!-- SEARCH BUTTON -->
                    <!-- CLEAR BUTTON -->
                    <button
                        mat-raised-button
                        color="basic"
                        class="add-query-button fuse-white m-20"
                        (click)="ClearButton()"
                    >
                        {{ "QUERY.CLEAR" | translate }}
                    </button>
                    <!-- CLEAR BUTTON -->
                    <!-- ADD BUTTON -->
                    <button
                        mat-raised-button
                        [routerLink]="'/searchQuery/new'"
                        class="add-query-button fuse-white mt-24 mt-md-0"
                    >
                        <span>{{ "QUERY.ADD" | translate }}</span>
                    </button>
                    <!-- / ADD BUTTON -->

                    <!-- / ADD BUTTON -->
                </div>
            </div>
        </div>
        <!-- / ADD BUTTON -->

        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form
                    name="querysForm"
                    [formGroup]="querysForm"
                    class="query w-100-p"
                    fxLayout="column"
                    fxFlex
                >
                    <div class="tab-content p-24" fusePerfectScrollbar>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "QUERY.INSERTBEGINDATETIME" | translate
                                }}</mat-label>

                                <input
                                    matInput
                                    name="InsertBeginDateTime"
                                    formControlName="InsertBeginDateTime"
                                    placeholder="{{
                                        'QUERY.INSERTBEGINDATETIME' | translate
                                    }}"
                                    [matDatepicker]="pickerInsertBeginDate"
                                    value="InsertBeginDateTime"
                                    [(ngModel)]="query.InsertBeginDateTime"
                                    (dateChange)="onDateChange($event)"
                                />

                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="pickerInsertBeginDate"
                                >
                                </mat-datepicker-toggle>
                                <mat-datepicker #pickerInsertBeginDate>
                                </mat-datepicker>
                            </mat-form-field>
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "QUERY.INSERTENDDATETIME" | translate
                                }}</mat-label>

                                <input
                                    matInput
                                    name="InsertEndDateTime"
                                    formControlName="InsertEndDateTime"
                                    placeholder="{{
                                        'QUERY.INSERTENDDATETIME' | translate
                                    }}"
                                    [matDatepicker]="pickerInsertEndDate"
                                    value="InsertEndDateTime"
                                    [(ngModel)]="query.InsertEndDateTime"
                                    (dateChange)="onDateInsertEndChange($event)"
                                />

                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="pickerInsertEndDate"
                                >
                                </mat-datepicker-toggle>
                                <mat-datepicker #pickerInsertEndDate>
                                </mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "QUERY.UPDATEBEGINDATETIME" | translate
                                }}</mat-label>

                                <input
                                    matInput
                                    name="UpdateBeginDateTime"
                                    formControlName="UpdateBeginDateTime"
                                    placeholder="{{
                                        'QUERY.UPDATEBEGINDATETIME' | translate
                                    }}"
                                    [matDatepicker]="pickerUpdateBeginDate"
                                    value="UpdateBeginDateTime"
                                    [(ngModel)]="query.UpdateBeginDateTime"
                                    (dateChange)="onDateBeginChange($event)"
                                />

                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="pickerUpdateBeginDate"
                                >
                                </mat-datepicker-toggle>
                                <mat-datepicker #pickerUpdateBeginDate>
                                </mat-datepicker>
                            </mat-form-field>
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "QUERY.UPDATEENDDATETIME" | translate
                                }}</mat-label>

                                <input
                                    matInput
                                    name="UpdateEndDateTime"
                                    formControlName="UpdateEndDateTime"
                                    placeholder="{{
                                        'QUERY.UPDATEENDDATETIME' | translate
                                    }}"
                                    [matDatepicker]="pickerUpdateEndDate"
                                    value="UpdateEndDateTime"
                                    [(ngModel)]="query.UpdateEndDateTime"
                                    (dateChange)="onDateUpdateEndChange($event)"
                                />

                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="pickerUpdateEndDate"
                                >
                                </mat-datepicker-toggle>
                                <mat-datepicker #pickerUpdateEndDate>
                                </mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "QUERY.QUERYTYPEID" | translate
                                }}</mat-label>
                                <mat-select
                                    name="QueryTypeId"
                                    formControlName="QueryTypeId"
                                    [(value)]="query.QueryTypeId"
                                    placeholder="{{
                                        'QUERY.QUERYTYPEID' | translate
                                    }}"
                                >
                                    <mat-option
                                        *ngFor="let query of queryTypeList"
                                        [value]="query.Id"
                                    >
                                        {{ query.Description }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "QUERY.QUERYCODE" | translate
                                }}</mat-label>
                                <input
                                    matInput
                                    placeholder="{{
                                        'QUERY.QUERYCODE' | translate
                                    }}"
                                    name="QueryCode"
                                    formControlName="QueryCode"
                                />
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                                fxFlex="48"
                            >
                                <mat-label>{{
                                    "QUERY.DESCRIPTION" | translate
                                }}</mat-label>
                                <textarea
                                    matInput
                                    placeholder="{{
                                        'QUERY.DESCRIPTION' | translate
                                    }}"
                                    name="Description"
                                    formControlName="Description"
                                    rows="10"
                                ></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- / CENTER -->
</div>
